<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Our commitment to excellence extends beyond just providing cars; we strive to deliver exceptional customer service and support throughout your leasing journey. With a wide range of vehicles to choose from and competitive pricing, KY Rentout makes it easy to find the perfect car to suit your lifestyle and budget.</p>
      </div>
      <div class="col-lg-4">
        <p>Discover the difference with KY Rentout Car Lease today and experience the convenience of leasing without compromise. Get in touch with us to learn more about how we can help you drive the car of your dreams. </p>
      </div>

    </div>
  </div>
</section>
