<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact Us</h2>
        <hr class="star-primary">
      </div>
    </div>

    
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Name: Jamie Lee</h3>
      </div>
    </div>
<p class="help-block text-danger"></p>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Mobile: 04191314475</h3>
      </div>
    </div>
<p class="help-block text-danger"></p>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Position: Sales Manager</h3>
      </div>
    </div>
<p class="help-block text-danger"></p>
            <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Email Address: JamieMLee1130@gmail.com</h3>
      </div>
    </div>
<p class="help-block text-danger"></p>

 <hr class="star-primary">

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Name: Tianxiao Bai</h3>
      </div>
    </div>
<p class="help-block text-danger"></p>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Mobile: 0476211277</h3>
      </div>
    </div>
<p class="help-block text-danger"></p>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Position: Director</h3>
      </div>
    </div>
<p class="help-block text-danger"></p>
            <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Email Address: support@kyrentout.com</h3>
      </div>
    </div>
<p class="help-block text-danger"></p>


    
</div>
</section>
